/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#price_calculator {
    width: 100%;
}

#price_calculator .amount {
    color: #006dd9;
}

#price_calculator td {
    text-align: left !important;
    padding-bottom: 5px;
}

#price_calculator td input {
    width: 100%;
    text-align: left;
}

#price_calculator td span {
    float: none;
}

#price_calculator td:nth-child(1) {
    width: 29%;
}

#price_calculator td:nth-child(2) {
    text-align: left;
}

#price_calculator tr:nth-child(3) {
    display: none;
}

.gform_wrapper .field_description_below .gfield_description {
    padding-top: 0 !important;
}

.woocommerce-container .images img {
    width: 100% !important;
}

.cart_item td {
    vertical-align: top;
}
